@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><p class="lead">For contractors, their hard working teammates, and the clients who appreciate all of their work.</p></center>
    
</div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/blueprints.jpeg" class="img-responsive"/>
        </div>
        <div class="col-md-4">
            <img src="~/Images/sparks.jpeg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/workers.jpeg" class="img-responsive" />
        </div>
    </div>
