@model IEnumerable<Capstone.Models.Job>

@{
    ViewBag.Title = "SeeProfitChart";
}

<h2>Profitability Ratio Graph</h2>

<body>
    <div>
        @{
            var data = Model.Where(j => j.ProfitabilityRatio >= 1).ToList();
            var myChart = new Chart(width: 600, height: 400)
               .AddTitle("Profitability Ratios For Jobs")
               .AddSeries(chartType: "column",
                  xValue: data, xField: "JobName",
                  yValues: data, yFields: "ProfitabilityRatio")
               .Write();
        }
    </div>
</body>